body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: rgb(118, 154, 255);
}

h1 {
	font-family: Arial;
	text-align: center;
}

img {
	display: block;
	margin: auto;
	border-radius: 20px;
}